.signin{
    width: 100%;
    height: 100vh;
    color: rgba(0, 255, 200, 0.87);
    
}

.column{
    height: 100vh;
}
.col-left{
    border-left: 1px solid rgba(0, 255, 200, 0.87);
}
.sign-in-heading{
    font-size: 100px;
} 
.btn-signin{
    color: white;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 255, 200, 0.87);
}
.btn-signin:hover{
    color: white;
    
    background-color: rgba(12, 63, 52, 0.87);
}

.input-signin{
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 255, 200, 0.87);
}
.input-signin:hover{
    background-color: rgba(0, 255, 200, 0.87);
    text-align: center;
    color: white !important;

}